extends layout

block content
  != css('main')
  h1 Battle!
  
  .charity1.charity
    img(src="#{battle.Charity1.image}", class="choice_img", charityid="#{battle.Charity1.id}")
  
  .charity2.charity
    img(src="#{battle.Charity2.image}", class="choice_img", charityid="#{battle.Charity2.id}")

  form(method="post", action="battle", id="form")
    input(hidden="true" id="battle_id" name="battle_id" value="#{battle.id}")
    input(hidden="true" id="battle_id" name="charity_id" value="#{battle.Charity1.id}")
